.showdown-stats {
  transform: translate(-20%);
  padding: 0px 5px 5px 5px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ffffff78;
  width: max-content;
  z-index: 10000;
  max-height: 180px;
  overflow-y: auto;
}
.showdown-stats, .showdown-stats * {
  border: none !important;
}
.showdown-stats > * {
  display: inline-block;
  float: left;
}
.showdown-stats .stat .bar {
  display: block;
  height: 5px;
  border: 1px solid;
}

.showdown-stats > * > * > *:first-child {
  margin-right: 5px;
}
.showdown-stats > * > * {
  padding: 2px;
}

.showdown-stats > * > h3:first-child {
  margin: 0;
  text-align: center;
}

.showdown-stats > * > * {
  border-radius: 4px;
}
.showdown-stats .type.times2, .showdown-stats .stat.raised {
  background-color: #85ff85ba;
}
.showdown-stats .type.times4 {
  background-color: #00fdffd6;
}
.showdown-stats .type.times0 {
  background-color: #7d7c98c9;
}
.showdown-stats .type.times0-5, .showdown-stats .stat.lowered {
  background-color: #ff545487;
}
.showdown-stats .type.times0-25 {
  background-color: #ff0000bd;
}
